name: Development workflow

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Development Code
        uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - run: npm install
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "staging-thrive"
          heroku_email: "dickyadhisatria@upi.edu"
        env:
          NODE_ENV: test
          PORT: 3000
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          SECRET_CRYPT_KEY: ${{ secrets.SECRET_CRYPT_KEY }}
          MAILJET_API_KEY: ${{ secrets.MAILJET_API_KEY }}
          MAILJET_API_SECRET_KEY: ${{ secrets.MAILJET_API_SECRET_KEY }}
          DB_STAGING_HOST: ${{ secrets.DB_STAGING_HOST }}
          DB_STAGING_DATABASE: ${{ secrets.DB_STAGING_DATABASE }}
          DB_STAGING_USERNAME: ${{ secrets.DB_STAGING_USERNAME }}
          DB_STAGING_PASSWORD: ${{ secrets.DB_STAGING_PASSWORD }}
